<!doctype>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movie Info</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Movie Information</h1>
  </header>
  <%= yield %>
  <footer>
    &copy; COPYRIGHT GOBLin CORPORATION
  </footer>
</body>
</html>
