@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
background-color: black;
color: #1BFF75;
font-family: 'Raleway', sans-serif;
font-size: 100%
}

p1{ text-transform: uppercase;
  font-weight: bolder;
  font-size: 300%;
}

p {
  padding: 25px;
  border-radius: 12px;
  width: 50%;
  margin: 1em auto;
  box-shadow: 10px 10px 10px black;
}












/*p, form {
  padding: 25px;
  width: 50%;
  background-color: white;
  opacity: 0.65;
  margin: 1em auto;
  border-radius: 12px;
}

input {
  display: block;
}

h1 {
  text-align: center
  font-family: 'Pontano Sans', sans-serif;
}

.one {
  background-color: white;
  text-align: center;
  text-shadow: 1px 1px 1px #2F2F2F;
}

.two {
  background-color: white;
  margin-top: 0;
  font-weight:;
  text-align: center;
  font-size:;
  text-shadow: 1px 1px 1px #2F2F2F;
}*/